<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Borrow</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .nav-link {
            font-size: 26px !important;
        }
    </style>
</head>
<body>

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/library/books">Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/library/users">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/library/history">History</a>
    </li>
</ul>


<div class="container w-600 pt-5 align-items-center d-flex flex-column">

    <div style="width: 35%">
        <h1>Edit Borrow Returned</h1>
    </div>
    <form class="row g-3" method="post" th:action="@{/library/history/{id}(id=${borrow.id})}" th:object="${borrow}">

        <input type="hidden" th:field="${borrow.id}" id="id">

        <select class="form-select form-select-lg" aria-label="Large select example" id="returned" name="returned">
            <option disabled>Choose</option>
            <option th:value="${borrow.returned}" th:selected="${borrow.returned}"
                    th:text="${borrow.returned}"></option>
            <option th:value="!${borrow.returned}" th:text="!${borrow.returned}"></option>
        </select>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Edit Borrow</button>
        </div>
    </form>
</div>
</body>
</html>